{% extends 'templates/main-layout.twig' %}

{% block content %}

    {% include "templates/partials/flash.twig" %}
    <br/><br/><br/>
    <h1 class="app_name text-center text-uppercase"><i class="fa fa-bars"></i> PST-Stack</h1>

{% endblock %}