{% extends 'templates/main-layout.twig' %}

{% block content %}

    <div class="container">
        {% include "templates/partials/flash.twig" %}

        <div class="row">
            <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 d-flex align-items-center justify-content-center">
                <img src="{{ base_url() }}/img/PST-Stack.png" class="img-fluid" alt="PST-Stack Logo">
            </div>
            <div class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-10 text-center text-sm-left">
                <div class="page-header">
                    <h1>Propel-Slim-Twig PHP Application Stack.</h1>
                    <h3>
                        <small class="text-muted">The most sophisticated application stack for starting any PHP
                            application in a minute.
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <p>PST (Propel ORM - Slim Framework - Twig Template Engine) Stack in PHP is the most sophisticated stack
                    to quickly build any kinds of PHP applicaiton. This open source application will let you create your
                    application within maximum 120 seconds (2 minutes) without any hassle.</p>
                <p>This stack was first created to quickly build any prototype or any quick but powerful web applicaiton
                    within hour or day and after that I made it open source to make your work more easier.</p>
                <p>It includes user authentication/registration and some useful middleware (authenticated-/guest-only
                    routes, CSRF, validation, saving old form input across requests).</p>
            </div>
        </div>
    </div>

{% endblock %}