# project specific directory
config/settings.php
propel/generated-conf/
propel/generated-migrations/
propel/generated-sql/
propel/propel.xml
tmp/*
!tmp/README.md
vendor/

# editor specific directory
.DS_STORE
.idea/*