{% extends 'templates/admin-layout.twig' %}

{% block additionalMainClasses %}fix-footer{% endblock %}

{% block content %}
    <div id="page-wrapper">

        {% include "templates/partials/flash.twig" %}

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-5">
                                    <i class="fas fa-comments fa-4x"></i>
                                </div>
                                <div class="col-7 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            <span class="float-left">View Details</span>
                            <span class="float-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-5">
                                    <i class="fas fa-tasks fa-4x"></i>
                                </div>
                                <div class="col-7 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            <span class="float-left">View Details</span>
                            <span class="float-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-5">
                                    <i class="fas fa-shopping-cart fa-4x"></i>
                                </div>
                                <div class="col-7 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            <span class="float-left">View Details</span>
                            <span class="float-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-5">
                                    <i class="fas fa-ticket-alt fa-4x"></i>
                                </div>
                                <div class="col-7 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            <span class="float-left">View Details</span>
                            <span class="float-right"><i class="fas fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-area fa-fw"></i>
                        Area Chart Example
                        <div class="dropdown float-right">
                            <button type="button" class="btn btn-light btn-xs dropdown-toggle" role="button"
                                    id="areaChartDropdownButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="areaChartDropdownButton">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                                <div class="dropdown-divider" role="separator"></div>
                                <a href="#" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="morris-area-chart"></div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-bar fa-fw"></i>
                        Bar Chart Example
                        <div class="dropdown float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light btn-xs dropdown-toggle" role="button"
                                        id="barChartDropdownButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="barChartDropdownButton">
                                    <a href="#" class="dropdown-item">Action</a>
                                    <a href="#" class="dropdown-item">Another action</a>
                                    <a href="#" class="dropdown-item">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-responsive table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>3326</td>
                                        <td>10/21/2013</td>
                                        <td>3:29 PM</td>
                                        <td>$321.33</td>
                                    </tr>
                                    <tr>
                                        <td>3325</td>
                                        <td>10/21/2013</td>
                                        <td>3:20 PM</td>
                                        <td>$234.34</td>
                                    </tr>
                                    <tr>
                                        <td>3324</td>
                                        <td>10/21/2013</td>
                                        <td>3:03 PM</td>
                                        <td>$724.17</td>
                                    </tr>
                                    <tr>
                                        <td>3323</td>
                                        <td>10/21/2013</td>
                                        <td>3:00 PM</td>
                                        <td>$23.71</td>
                                    </tr>
                                    <tr>
                                        <td>3322</td>
                                        <td>10/21/2013</td>
                                        <td>2:49 PM</td>
                                        <td>$8345.23</td>
                                    </tr>
                                    <tr>
                                        <td>3321</td>
                                        <td>10/21/2013</td>
                                        <td>2:23 PM</td>
                                        <td>$245.12</td>
                                    </tr>
                                    <tr>
                                        <td>3320</td>
                                        <td>10/21/2013</td>
                                        <td>2:15 PM</td>
                                        <td>$5663.54</td>
                                    </tr>
                                    <tr>
                                        <td>3319</td>
                                        <td>10/21/2013</td>
                                        <td>2:13 PM</td>
                                        <td>$943.45</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <div id="morris-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                        <div class="card-header">
                            <i class="far fa-clock fa-fw"></i>
                            Responsive Timeline
                        </div>
                        <div class="card-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fas fa-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            <p>
                                                <small class="text-muted"><i class="far fa-clock"></i> 11 hours ago via
                                                    Twitter
                                                </small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
                                                laboriosam
                                                dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est
                                                cum
                                                veniam excepturi. Maiores praesentium, porro voluptas suscipit facere
                                                rem
                                                dicta, debitis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fas fa-credit-card"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem
                                                quibusdam, tenetur commodi provident cumque magni voluptatem libero,
                                                quis
                                                rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia
                                                repellendus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
                                                maiores
                                                odit qui est tempora eos, nostrum provident explicabo dignissimos
                                                debitis
                                                vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fas fa-bomb"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
                                                numquam
                                                facilis enim eaque, tenetur nam id qui vel velit similique nihil iure
                                                molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est
                                                quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias
                                                sapiente
                                                rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut
                                                debitis!</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fas fa-save"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus
                                                modi
                                                quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam
                                                debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                            <hr>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light btn-xs dropdown-toggle" role="button"
                                                        id="timelineDropdownButton1"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i> <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="timelineDropdownButton1">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item">Separated link</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio
                                                quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam.
                                                Officia
                                                quam qui adipisci quas consequuntur nostrum sequi. Consequuntur,
                                                commodi.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fas fa-graduation-cap"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
                                                obcaecati,
                                                quaerat tempore officia voluptas debitis consectetur culpa amet,
                                                accusamus
                                                dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque
                                                eaque.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3 notifications-card">
                    <div class="card-header">
                        <i class="fas fa-bell fa-fw"></i>
                        Notifications Panel
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-comment fa-fw"></i> New Comment
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>4 minutes ago</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fab fa-twitter fa-fw"></i> 3 New Followers
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>12 minutes ago</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-envelope fa-fw"></i> Message Sent
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>27 minutes ago</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-tasks fa-fw"></i> New Task
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>43 minutes ago</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-upload fa-fw"></i> Server Rebooted
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>11:32 AM</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-bolt fa-fw"></i> Server Crashed!
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>11:13 AM</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-exclamation-triangle fa-fw"></i> Server Not Responding
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>10:57 AM</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-shopping-cart fa-fw"></i> New Order Placed
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>9:49 AM</em>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row no-gutters">
                                    <div class="col-7 px-1">
                                        <i class="fas fa-money-bill-alt fa-fw"></i> Payment Received
                                    </div>
                                    <div class="col-5 px-1 text-right text-muted small">
                                        <em>Yesterday</em>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="#" class="btn btn-light btn-block">View All Alerts</a>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-pie fa-fw"></i>
                        Donut Chart Example
                    </div>
                    <div class="card-body">
                        <div id="morris-donut-chart"></div>
                        <a href="#" class="btn btn-light btn-block">View Details</a>
                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="chat-card card mb-3">
                    <div class="card-header">
                        <i class="fas fa-comments fa-fw"></i>
                        Chat
                        <div class="dropdown float-right">
                            <button type="button" class="btn btn-light btn-xs dropdown-toggle" role="button"
                                    id="chatDropdownButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="chatDropdownButton">
                                <a href="#" class="dropdown-item"><i class="fas fa-refresh fa-fw"></i> Refresh</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-check-circle fa-fw"></i>
                                    Available</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-times fa-fw"></i> Busy</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-clock fa-fw"></i> Away</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="fas fa-sign-out fa-fw"></i> Sign Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img float-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="float-right text-muted">
                                            <i class="far fa-clock fa-fw"></i> 12 mins ago
                                        </small>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare dolor, quis ullamcorper ligula sodales.</p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img float-right">
                                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">
                                            <i class="far fa-clock fa-fw"></i> 13 mins ago
                                        </small>
                                        <strong class="float-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare dolor, quis ullamcorper ligula sodales.</p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img float-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="float-right text-muted">
                                            <i class="far fa-clock fa-fw"></i> 14 mins ago
                                        </small>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare dolor, quis ullamcorper ligula sodales.</p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img float-right">
                                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">
                                            <i class="far fa-clock fa-fw"></i> 15 mins ago
                                        </small>
                                        <strong class="float-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare dolor, quis ullamcorper ligula sodales.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm"
                                   placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/js/morris-data.min.js"></script>
{% endblock %}