<?php

return [
    'app' => [
        'name' => 'PST-Stack',              // Application name
        'host' => 'localhost',              // Application hostname
        'port' => 80,                       // Application web port
        'encoding' => [
            'mb_internal_encoding' => 'UTF-8',
            'mb_http_output' => 'UTF-8'
        ],
        'timezone' => 'Europe/Berlin',      // Your timezone
        'debug' => true,                    // Output Slim errors on webpages
        'root_dir' => dirname(__DIR__) . DIRECTORY_SEPARATOR,
        'tmp_dir' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'tmp' . DIRECTORY_SEPARATOR,                  // Path to temp directory (for log files etc.)
        'template' => [
            'dir' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'resources' . DIRECTORY_SEPARATOR . 'views',  // Path to the twig template files
            'cache' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'tmp' . DIRECTORY_SEPARATOR . 'cache',      // Set to false to disable caching
            'debug' => true,                // Generated templates will have a __toString() method to display generated nodes
            'auto_reload' => true           // Recompile the template whenever the source code changes
        ],
    ],
];