<!doctype html>
<html lang="en">
<head>
    <title>IDM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <!-- Bootstrap v4 incl. Material Theme from https://fezvrasta.github.io/bootstrap-material-design/ -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
              integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I"
              crossorigin="anonymous">
        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ base_url() }}/css/style.min.css"/>
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ base_url() }}/js/html5shiv.min.js"></script>
    <script src="{{ base_url() }}/js/respond.min.js"></script>
    <![endif]-->

    <!-- FontAwesome v5 -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body class="{% block bodyClasses %}{% endblock %}">

<header>
    {% block navigation %}
        {% include 'templates/partials/navigation.twig' %}
    {% endblock %}
</header>

{% block main %}
    <main role="main" class="container pt-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        {% include 'templates/partials/footer.twig' %}
    </footer>
{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
            crossorigin="anonymous"></script>
    <!-- Bootstrap v4 incl. Material Theme from https://fezvrasta.github.io/bootstrap-material-design/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js"
            integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe"
            crossorigin="anonymous"></script>
    <script src="{{ base_url() }}/js/initBootstrapMaterialDesign.min.js"></script>
{% endblock %}

</body>
</html>