<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link{{ is_current_path('admin.dashboard') ? ' active' : '' }}"
           href="{{ path_for('admin.dashboard') }}">
            <i class="fas fa-home fa-fw"></i> Dashboard<span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path_for('admin.users') }}" class="nav-link{{ is_current_path('admin.users') ? ' active' : '' }}">
            <i class="fas fa-user-circle fa-fw"></i> Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#chartsAccordion" aria-expanded="false"
           aria-controls="chartsAccordion">
            <i class="fas fa-chart-bar fa-fw"></i> Charts
        </a>
        <ul id="chartsAccordion"
            class="collapse nav nav-pills nav-second-level">
            <li class="nav-item">
                <a href="#" class="nav-link">Flot Charts</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Morris.js Charts</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-table fa-fw"></i> Tables
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-edit fa-fw"></i> Forms
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#uiElementsAccordion" aria-expanded="false"
           aria-controls="uiElementsAccordion">
            <i class="fas fa-wrench fa-fw"></i> UI Elements
        </a>
        <ul id="uiElementsAccordion"
            class="collapse nav nav-pills nav-second-level">
            <li class="nav-item">
                <a href="#" class="nav-link">Cards</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Buttons</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Notifications</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Typography</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Icons</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Grid</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#multiLevelDropdownAccordion" aria-expanded="false"
           aria-controls="multiLevelDropdownAccordion">
            <i class="fas fa-sitemap fa-fw"></i> Multi-Level Dropdown
        </a>
        <ul id="multiLevelDropdownAccordion"
            class="collapse nav nav-pills nav-second-level">
            <li class="nav-item">
                <a href="#" class="nav-link">Second Level Item</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Second Level Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#multiLevelDropdownNestedAccordion" aria-expanded="false"
                   aria-controls="multiLevelDropdownNestedAccordion">Third Level</a>
                <ul id="multiLevelDropdownNestedAccordion"
                    class="collapse nav nav-pills nav-third-level">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Third Level Item</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Third Level Item</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Third Level Item</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Third Level Item</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>